/*
 * Some modifications to lanyon for fawx.com
 */

 .masthead-title a {
  background-image: url('/public/logo.png');
  background-repeat: no-repeat;
  padding: 12px 0 12px 40px;
}

.contact-icons a {
  text-decoration: none;
}

.contact-icons svg path {
	fill: #257eaa;
}

.contact-icons svg:hover {
	stroke: #fff;
	stroke-width: 10px;
}

.post img {
	margin-left: auto;
    margin-right: auto;
}

.thumbs { margin: 0; padding: 0; overflow: hidden; }
.thumbs li { list-style: none; float: left; margin: 5px; padding: 3px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; }
.thumbs li a { }
.thumbs li img { display: block; margin-bottom: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;}
.thumbs li a img { border: none;}
